nav {
  position: sticky;
  display: grid;
  grid-template-columns: min-content 1fr;
  top: 10px;
  z-index: 1;
  padding: 1rem;
  height: 1rem;
  background: radial-gradient(circle, rgba(112, 126, 85, 1) 0%, rgba(154, 174, 115, 1) 100%);
  box-shadow: 0px 22px 24px 0px rgba(92, 35, 36, 1);
  margin: 0.8rem;
  border-radius: 1rem;
  gap: 0.3rem;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: black;
}
nav li {
  display: grid;
  place-items: center;
  height: 2rem;
  width: 2rem;
  padding: 0.3rem;
  transform: translateY(-15px);
  border-radius: 99px;
  background: #808f61;
  box-shadow: inset 24px 24px 23px #5d6847, inset -24px -24px 23px #a3b67b;
  border: 0.1rem solid #889967;
}
.navlinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3rem;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.timer {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 0.5rem;
}

.resource {
  position: relative;
  margin-top: 7rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  gap: 1rem;
}
.resource_item {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-flow: row;
  background-color: #e4e3e2;
  padding: 1rem;
}
.btn_resource_reserve {
  background-color: #f5a961;
  border: transparent;
  padding: 0.3rem;
  border-radius: 15px;
  width: 5rem;
  height: 2rem;
  margin-left: auto;
  transform: translateX(-0.3rem);
  transition: 1s ease;
}
.btn_resource_reserve:hover {
  background-color: #d39a59;
}
main {
  margin-top: 8rem;
  background-color: #a3b67b;
}
