@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 1.1rem;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: white;
}
.App,
body {
  display: flex;
  flex-direction: column;
  grid-template-rows: min-content;
  position: relative;
  min-height: 100vh;
  font-family: "Kameron";
  color: white;
  background: linear-gradient(180deg, #3d713f 0%, #445f53 15%, #1f411b 30%, #2e2a26 55%);
  font-size: 1.1rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
p {
  font-size: 1.15rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
b {
  font-weight: 700;
  margin-bottom: 1rem;
}
