@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 1.1rem;
}
.App,
body {
  position: relative;
  height: 100vh;
  background-color: #27711e;
  font-size: 1.1rem;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  max-width: 62ch;
  margin-bottom: 2rem;
  text-wrap: pretty;
}
