@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 1.1rem;
}
.App,
body {
  display: flex;
  flex-direction: column;
  grid-template-rows: min-content;
  position: relative;
  min-height: 100vh;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(61, 113, 63, 1) 0%,
    rgba(68, 95, 83, 1) 15%,
    rgba(31, 65, 27, 1) 30%,
    rgba(46, 42, 38, 1) 55%
  );
  font-size: 1.1rem;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
p {
  font-size: 1.15rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
b {
  font-weight: 700;
  margin-bottom: 1rem;
}
